<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="basic" 
						label="COM_CLUBDATA_CONFIG_SETTINGS_LABEL" 		
						description="COM_CLUBDATA_CONFIG_SETTINGS_DESC"
	>
		<field
			name="clientid"
			type="text"
			required="true"
			label="COM_CLUBDATA_FIELD_CLIENTCODE_LABEL"
			description="COM_CLUBDATA_FIELD_CLIENTCODE_DESC" 
		/>
			
		<field
			name="sef_advanced"
			type="radio"
			class="btn-group btn-group-yesno btn-group-reversed"
			default="0"
			label="JGLOBAL_SEF_ADVANCED_LABEL"
			description="JGLOBAL_SEF_ADVANCED_DESC"
			filter="integer"
		>
			<option value="0">JGLOBAL_SEF_ADVANCED_LEGACY</option>
			<option value="1">JGLOBAL_SEF_ADVANCED_MODERN</option>
		</field>

		<field
			name="sef_ids"
			type="radio"
			class="btn-group btn-group-yesno"
			default="0"
			label="JGLOBAL_SEF_NOIDS_LABEL"
			description="JGLOBAL_SEF_NOIDS_DESC"
			showon="sef_advanced:1"
			filter="integer">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

	</fieldset>
</config>